.toy-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 304px;
  height: 280px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, .3);
  cursor: pointer;
  position: relative;
  &.active .choosed-mark {
    background-color: yellow;
  }
  &.active .choosed-mark::after {
    border-left: 15px solid yellow;
  }
}

.toy-card__title {
  width: 100%;
  font-size: 20px;
  padding-left: 10px;
}

.toy-card__image {
  width: 90px;
  height: 112px;
  object-fit: contain;
  pointer-events: none;
}

.toy-card__description {
  width: 195px;
  margin-top: -20px;
  padding-left: 10px;
  pointer-events: none;
  line-height: 1;
  user-select: none;
}

.choosed-mark {
  position: absolute;
  top: 210px;
  width: 80px;
  height: 40px;
  background: #24C5DB;
  left: -8px;
  &::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 8px solid #14455b;
    border-left: 8px solid transparent;
    top: -8px;
  }
  &::after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #24C5DB;
    right: -15px;
  }
}