$globe-spread: 3px;
.switch-garland{
  width: 60px;
  margin: 0 auto;
  margin-left: 30px;
}
.toggle-button {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin: 0;
  vertical-align: top;
  background: #fff;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 }
 .toggle-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 1.5px;
  width: 20px;
  height: 20px;
  background-color: #FFBCA2;
  border-radius: 50%;
  transform: translateX(0);
}
.toggle-button:checked::after {
  transform: translateX(calc(100% + 2px));
  background-color: #fff;  
}
.toggle-button:checked {
  background-color: #FFBCA2;
}
.toggle-text {
  font-size: 1.5rem;
  height: 100%;
  line-height: 1.5rem;
  margin-right: 5px;
}

.settings-section__garland {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.settings-section__garland-title {
  width: 100%;
  margin-bottom: 5px;
}

// /circles
.garland__buttons-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.button-color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 10%) 0 -1px 7px 1px, inset #304701 0 -1px 9px, white 0 2px 12px;
  }
}

.multicolor {
  background: linear-gradient(145deg, yellow, blue, green, red);
}

// garland in tree

.garland-container {
  display: flex;
    justify-content: center;
    height: calc(100vh - 50px);
    width: 600px;
    position: absolute;
    top: -30px;
    left: 0px;
    pointer-events: none;
    z-index: 5;
    overflow: hidden;
  .garland-row {
    position: absolute;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    pointer-events: none;
    padding: 0;
    list-style: none;
    margin: 19px auto 0;
    margin-bottom: 50px;
    .garland-item {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin: -5px;
      animation-iteration-count: infinite;
      animation-duration: 1.8s;
      &:nth-child(3n+1) {
        animation-duration: 1.4s;
      }
      &:nth-child(2n+1) {
        animation-duration: 1.6s;
      }
      &.blue {
        background-color: blue;
        box-shadow: 0px 2px 12px 2px blue;
        animation-name: blue;
      }
      &.red {
        background-color: red;
        box-shadow: 0px 2px 12px 2px red;
        animation-name: red;
      }
      &.yellow {
        background-color: yellow;
        box-shadow: 0px 2px 12px 2px yellow;
        animation-name: yell;
      }
      &.green {
        background-color: rgb(62, 204, 6);
        box-shadow: 0px 2px 12px 2px rgb(62, 204, 6);
        animation-name: green;
      }
      &.multicolor {
        &:nth-child(4n) {
          background-color: blue;
          box-shadow: 0px 2px 12px 2px blue;
          animation-name: blue;
        }
        &:nth-child(4n+1) {
          background-color: yellow;
          box-shadow: 0px 2px 12px 2px yellow;
          animation-name: yellow;
        }
        &:nth-child(4n+2) {
          background-color: rgb(62, 204, 6);
          box-shadow: 0px 2px 12px 2px rgb(62, 204, 6);
          animation-name: green;
        }
        &:nth-child(4n+3) {
          background-color: red;
          box-shadow: 0px 2px 12px 2px red;
          animation-name: red;
        }
      }
    }
  }
}


@keyframes blue { 
  0%, 100% { background: rgb(0, 0, 255);
  box-shadow: 0px 2px 12px 2px rgb(0, 0, 255);} 
  50% { background: rgba(0, 0, 255, 0.4);
  box-shadow: 0px 2px 12px 2px rgba(0, 0, 255,0.2);}
}

@keyframes red { 
  0%, 100% { background: rgb(255, 0, 0);
  box-shadow: 0px 2px 12px 2px rgb(255, 0, 0);} 
  50% { background: rgba(255, 0, 0, 0.4);
  box-shadow: 0px 2px 12px 2px rgba(255, 0, 0, 0.2);}
}

@keyframes yell { 
  0%, 100% { background: rgb(255, 255, 0);
  box-shadow: 0px 2px 12px 2px rgb(255, 255, 0);} 
  50% { background: rgba(255, 255, 0, 0.4);
  box-shadow: 0px 2px 12px 2px rgba(255, 255, 0, 0.2);}
}

@keyframes green { 
  0%, 100% { background: rgb(62, 204, 6);
  box-shadow: 0px 2px 12px 2px rgb(62, 204, 6);} 
  50% { background: rgba(62, 204, 6, 0.4);
  box-shadow: 0px 2px 12px 2px rgba(62, 204, 6, 0.2);}
}